.login-card {
    margin: 2px;
    border: 1px solid lightgrey;
    width: 400px;
}

.login-logo {
    width: 98%;
    padding: 0% 1%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

input::placeholder {
    text-align: center;
}

.login-button {
    width: 60%;
    height: 30px;
    color:white;
    background-color:darkgrey;
    border-radius: 8px;
  }
 
.login-input-field {
    width: 60%;
    height: 30px;
    padding: 5px 0px
}

